main, body, html{
  width: 100%; 
  overflow: hidden;
  font-family: monospace;
  font-size: 25px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 16, 60) 0%, rgb(60, 100, 150) 100%);
  background-size: 400%;
  background-position: 0 0;
  animation: animatedBg 5s ease-in-out infinite alternate;
  height: 100vh;
}
@keyframes animatedBg{
  from {
    background-position: 0 0;
  }
  to{
    background-position: 100% 100%;
  }
}
main{
  background-color: rgb(23, 92, 172);
  width: 30%;
  height: 300px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
form {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  width: 80%;
  height: calc(50% - 10px);
  margin: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
input[type="text"]{
  width: 90%;
  height: 20px;
  border: 1px solid rgb(0, 16, 60);
  border-radius: 10px;
}
input[type="submit"], select{
  background-color: rgb(24, 76, 145);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin: 5px;
}
input[type="submit"]:hover{
  border: 2px solid rgb(52, 97, 219);
}
option{
  border-radius: 5px;
  background-color: rgb(24, 76, 145);
}
option:hover{
  background-color: rgb(0, 16, 60);
}
article {
  height: 20%;
  text-align: center;
  width: calc(100% - 20px);
  margin: 0px 10px;
  font-size: 15px;
  overflow-wrap: break-word;
}


