body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#left{
    background-color:  #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
    float: left;
}
#right{
    background-color:  #29434E;
    color: white;
    width: 30%;
    height: 70px;
    float: right;
}
main section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:  #B0BEC5;
    height: 320px;
    overflow: scroll;
    clear: both;
}
footer{
    background-color: #29434E;
    color: white;
}
article{
    padding: 5px;
    width: 226px;
    height: 280px;
    margin-top: 0;
}
h3{
    background-color: #546E7A;
    color: white;
    margin: 0px;
    width: 100%;
}
h4{
    text-align: center;
    margin: 0px;
}